name: CI
on:
    push:
        branches:
        - main
    pull_request:
    schedule:
        - cron:  '17 3 * * 0'

jobs:
    ruff:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -
            uses: actions/setup-python@v4
        -   name: "Main Script"
            run: |
                pipx install ruff
                ruff check

    mypy:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v3
        -   uses: actions/setup-python@v4
        -   name: "Main Script"
            run: |
                pip install mypy
                pip install .
                mypy grist_mailmerge

# vim: sw=4
